services:
  web:
    build: .
    container_name: sportsarb
    command: flask run --host=0.0.0.0 --port=8000 --debug
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis
    networks:
      - appnet

  db:
    image: postgres:15
    container_name: sportsarb-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sportsarb
    ports:
      - "5432:5432"
    networks:
      - appnet
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: sportsarb-redis
    ports:
      - "6379:6379"
    networks:
      - appnet

  worker:
    build: .
    command: celery -A app.tasks:celery worker --loglevel=info
    env_file:
      - .docker.env
    depends_on:
      - redis
      - db
    networks:
      - appnet
    volumes:
      - .:/usr/src/app
  beat:
    build: .
    command: celery -A app.tasks:celery beat --loglevel=info
    env_file:
      - .docker.env
    depends_on:
      - redis
      - db
    networks:
      - appnet
    volumes:
      - .:/usr/src/app
    restart: unless-stopped

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge