<!-- SIDEBAR -->
<aside
  class="w-full lg:w-1/4 p-8 bg-gray-900 border-t lg:border-t-0 lg:border-l border-gray-800 flex flex-col lg:h-auto">

  <h2 class="text-2xl font-semibold text-bet365yellow mb-8">Account Options</h2>

  <nav class="space-y-3">

    {% if current_user and current_user.is_admin %}
    <a href="/admin" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 text-gray-300">
      <ion-icon name="pie-chart-outline" class="text-xl"></ion-icon>
      <span class="font-medium">Admin</span>
    </a>
    {% endif %}

    <a href="{{ url_for('main.account') }}" class="flex items-center gap-3 px-4 py-3 rounded-lg
          {% if request.endpoint == 'main.account' %}
            bg-bet365green text-gray-900
          {% else %}
            hover:bg-gray-800 text-gray-300
          {% endif %}
        ">
      <ion-icon name="person" class="text-xl"></ion-icon>
      <span class="font-medium">Account</span>
    </a>

    <a href="{{ url_for('auth.reset_password') }}" class="flex items-center gap-3 px-4 py-3 rounded-lg
          {% if request.endpoint == 'auth.reset_password' %}
            bg-bet365green text-gray-900
          {% else %}
            hover:bg-gray-800 text-gray-300
          {% endif %}
        ">
      <ion-icon name="refresh-circle" class="text-xl"></ion-icon>
      <span class="font-medium">Reset Password</span>
    </a>

    <a href="{{ url_for('auth.logout') }}"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 text-gray-300">
      <ion-icon name="log-out" class="text-xl"></ion-icon>
      <span class="font-medium">Logout</span>
    </a>
  </nav>
</aside>