<aside class="sticky top-4 h-fit max-h-[calc(100vh-2rem)] p-4">
  <h3 class="text-lg font-semibold mb-4">Filter</h3>
  <div class="space-y-5">
    <!-- Sort -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Sort</label>
      <div class="flex">
        <button type="button"
          class="rounded-l-md border border-gray-300 bg-gray-100 px-3 py-1 text-gray-600 hover:bg-gray-200">▼</button>
        <select id="sort" name="selector[order]"
          class="rounded-r-md border border-gray-300 bg-white px-2 py-1 text-gray-700 focus:ring-blue-500 focus:border-blue-500 w-full">
          <option value="time">Commence time</option>
          <option value="profit_desc" selected>Profit</option>
        </select>
      </div>
    </div>

    <!-- Outcomes -->
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Markets</legend>
      <select id="market" class="select">
        <option value="h2h">H2H</option>
        <option value="spread">SPREADS</option>
        <option value="total">TOTALS</option>
      </select>
    </fieldset>

    <!-- Bookmakers & Sports -->
    <div class="flex flex-col gap-2">
      <a href="{{url_for('main.bookmakers')}}" class="text-blue-600 text-sm hover:underline">Bookmakers (394)</a>
      <a href="{{url_for('api.sports')}}" class="text-blue-600 text-sm hover:underline">Sports (<span id="sports-count"></span>)</a>
      <a href="#" class="text-blue-600 text-sm hover:underline">Tournaments (All)</a>
    </div>

    <!-- Buttons -->
    <div class="flex flex-col gap-2">
      <button onclick="applyFilters()"
        class="bg-primary text-primary-content py-2 rounded-md hover:bg-blue-950 transition">Filter</button>
      <a href="" class="text-center bg-gray-300 text-gray-800 py-2 rounded-md hover:bg-gray-400 transition">Reset</a>
    </div>

  </div>
</aside>

<script>
  async function applyFilters(page = 1) {
    const sort = document.getElementById('sort').value;
    const market = document.getElementById('market').value;

    let current_page = window.location.pathname
    if (current_page == '/') {
      fetchSurebets(1, sort, market)
    } else if (current_page == '/middles') {
      fetchMiddles(1, sort, market)
    } else if (current_page == '/valuebets') {
      fetchValues(1, sort, market)
    }
  }

  $(document).ready(function() {
    fetch('/api/sports').then(resp => resp.json()).then(data => {
      document.getElementById('sports-count').innerHTML = data.total_sports
    })
  })
</script>