US Bookmakers
The API lists odds from the following US bookmakers:

Region key	Bookmaker key	Bookmaker	Note
us	betonlineag	BetOnline.ag (opens new window)	
us	betmgm	BetMGM (opens new window)	
us	betrivers	BetRivers (opens new window)	
us	betus	BetUS (opens new window)	
us	bovada	Bovada (opens new window)	
us	williamhill_us	Caesars (opens new window)	Only available on paid subscriptions
us	draftkings	DraftKings (opens new window)	
us	fanatics	Fanatics (opens new window)	Only available on paid subscriptions
us	fanduel	FanDuel (opens new window)	
us	lowvig	LowVig.ag (opens new window)	
us	mybookieag	MyBookie.ag (opens new window)	
us2	ballybet	Bally Bet (opens new window)	
us2	betanysports	BetAnything (opens new window)	Formerly BetAnySports
us2	betparx	betPARX (opens new window)	
us2	espnbet	ESPN BET (opens new window)	
us2	fliff	Fliff (opens new window)	
us2	hardrockbet	Hard Rock Bet (opens new window)	
us2	rebet	ReBet (opens new window)	Only available on paid subscriptions

#US Daily Fantasy Sports (DFS) Sites
The API covers player props from the following US DFS sites. Odds on DFS sites can vary based on user selections, therefore odds are indicative only.

Region key	Bookmaker key	Bookmaker	Note
us_dfs	pick6	DraftKings Pick6 (opens new window)	Selections with non-default multipliers (not x1) are included in _alternate markets
us_dfs	prizepicks	PrizePicks (opens new window)	Demons and goblins are included under _alternate markets, for example "player_points_alternate".
Goblins have been assigned the default odds, demons have been assigned even odds (+100).
us_dfs	underdog	Underdog Fantasy (opens new window)	Selections with non-default multipliers (not x1) are included in _alternate markets
#US Exchanges
Region key	Bookmaker key	Bookmaker	Note
us_ex	betopenly	BetOpenly (opens new window)	Use the "includeBetLimits" parameter to find open bets
us_ex	novig	Novig (opens new window)	
us_ex	prophetx	ProphetX (opens new window)	

#UK Bookmakers
The API lists odds from the following UK bookmakers:

Region key	Bookmaker key	Bookmaker
uk	sport888	888sport (opens new window)
uk	betfair_ex_uk	Betfair Exchange (opens new window)
uk	betfair_sb_uk	Betfair Sportsbook (opens new window)
uk	betvictor	Bet Victor (opens new window)
uk	betway	Betway (opens new window)
uk	boylesports	BoyleSports (opens new window)
uk	casumo	Casumo (opens new window)
uk	coral	Coral (opens new window)
uk	grosvenor	Grosvenor (opens new window)
uk	ladbrokes_uk	Ladbrokes (opens new window)
uk	leovegas	LeoVegas (opens new window)
uk	livescorebet	LiveScore Bet (opens new window)
uk	matchbook	Matchbook (opens new window)
uk	paddypower	Paddy Power (opens new window)
uk	skybet	Sky Bet (opens new window)
uk	smarkets	Smarkets (opens new window)
uk	unibet_uk	Unibet (opens new window)
uk	virginbet	Virgin Bet (opens new window)
uk	williamhill	William Hill (UK) (opens new window)

#EU Bookmakers
The API lists odds from the following EU bookmakers:

Region key	Bookmaker key	Bookmaker	Note
eu	onexbet	1xBet (opens new window)	
eu	sport888	888sport (opens new window)	
eu	betclic_fr	Betclic (FR) (opens new window)	
eu	betanysports	BetAnySports (opens new window)	
eu	betfair_ex_eu	Betfair Exchange (opens new window)	
eu	betonlineag	BetOnline.ag (opens new window)	
eu	betsson	Betsson (opens new window)	
eu	betvictor	Bet Victor (opens new window)	
eu	coolbet	Coolbet (opens new window)	
eu	everygame	Everygame (opens new window)	
eu	gtbets	GTbets (opens new window)	
eu	leovegas_se	LeoVegas (SE) (opens new window)	
eu	marathonbet	Marathon Bet (opens new window)	
eu	matchbook	Matchbook (opens new window)	
eu	mybookieag	MyBookie.ag (opens new window)	
eu	nordicbet	NordicBet (opens new window)	
eu	parionssport_fr	Parions Sport (FR) (opens new window)	
eu	pinnacle	Pinnacle (opens new window)	Odds are from public website which may incur a delay
eu	suprabets	Suprabets (opens new window)	
eu	tipico_de	Tipico (DE) (opens new window)	
eu	unibet_fr	Unibet (FR) (opens new window)	
eu	unibet_it	Unibet (IT) (opens new window)	
eu	unibet_nl	Unibet (NL) (opens new window)	
eu	unibet_se	Unibet (SE) (opens new window)	
eu	williamhill	William Hill (opens new window)	
eu	winamax_de	Winamax (DE) (opens new window)	
eu	winamax_fr	Winamax (FR) (opens new window)	

#AU Bookmakers
The API lists odds from the following AU bookmakers:

Region key	Bookmaker key	Bookmaker	Note
au	betfair_ex_au	Betfair Exchange (opens new window)	
au	betr_au	Betr (opens new window)	
au	betright	Bet Right (opens new window)	
au	bet365_au	Bet365 AU (opens new window)	Only available on paid subscriptions. Coverage currently limited to h2h, spreads and totals for AFL and NRL
au	boombet	BoomBet (opens new window)	
au	dabble_au	Dabble AU (opens new window)	Only available on paid subscriptions
au	ladbrokes_au	Ladbrokes (opens new window)	
au	neds	Neds (opens new window)	
au	playup	PlayUp (opens new window)	
au	pointsbetau	PointsBet (AU) (opens new window)	
au	sportsbet	SportsBet (opens new window)	
au	tab	TAB (opens new window)	
au	tabtouch	TABtouch (opens new window)	
au	unibet	Unibet (opens new window)	