<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="site-url" content="{{config.SITE_URL}}">
  <link href="{{ url_for('static', filename='src/output.css') }}" rel="stylesheet">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <title>Stake Calculator</title>
</head>

<body class="bg-gray-50 flex flex-col items-center justify-center min-h-screen">
  <div class="bg-white rounded-xl shadow-md p-6" style="width: 90%;">
    <h2 class="text-xl font-semibold mb-4 text-center">Stake Calculator</h2>

    <div id="calc-info" class="text-sm text-gray-600 mb-4 text-center"></div>

    <form id="calc-form" class="space-y-3">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Stake ($)</legend>
        <input type="number" id="stake" class="input" value="100" step="0.01" placeholder="Enter amount" />
        <p class="label">Enter how much you want to stake</p>
      </fieldset>

      {% if arb_item %}
      <h1 class="font-bold m-0" style="font-size: 18px;">{{arb_item['event']}}</h1>
      <h2 class="text-emerald-800 font-extrabold m-0">{{arb_item['sport_title']}}</h2>
      <p>Profit Margin: <span class="font-extrabold">{{'{:.2f}'.format(arb_item['profit_margin'] | float)}}%</span></p>
      <p class="m-0">Time: {{arb_item['commence_time'] | format_date}}</p>
      <p>Market: {{arb_item.get('market', 'N/A').upper()}}</p>
      {% if arb_item.get('market') == 'spreads' %}
      <p>Points Spread: {{arb_item.get('points', 'N/A')}}</p>
      {% elif arb_item.get('market') == 'totals' %}
      <p>Total Points: {{arb_item.get('points', 'N/A')}}</p>
      {% endif %}
      <div class="">
        <div id="opportunity" data-profit-margin="{{arb_item['profit_margin']}}" data-total-implied-prob="{{total_implied_prob}}">
          <div class="odds grid grid-cols-2 gap-2">
          {% for outcome, odd in arb_item['best_odds'].items() %}
            {% if outcome != 'spread' %}
              {% set bookmaker = arb_item['bookmakers'][outcome] %}
              {% set implied_prob = 1/odd %}
              <div class="bg-blue-100 p-2">
                <h3>{{outcome}}</h3>
                <p>Odds: {{'{:.2f}'.format(odd | float )}}</p>
                <p>Bookmaker: {{bookmaker}}</p>
                <p>Bet Amount: $<span class="bet-amount" data-implied-prob="{{implied_prob}}">0.00</span></p>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="pt-3">
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
          Calculate Profit
        </button>
      </div>
    </form>

    <div id="result" class="mt-4 text-center text-gray-800 font-semibold"></div>
  </div>

  <script>
    $(document).ready(function () {
      $("#calc-form").on("submit", function (e) {
        e.preventDefault();
        const stake = parseFloat($("#stake").val());
        if (isNaN(stake) || stake <= 0) {
          $("#result").text("Enter a valid stake amount.");
          return;
        }

        const opp = document.getElementById('opportunity')
        const profitMargin = parseFloat(opp.getAttribute('data-profit-margin')) / 100;

        const profit = (parseFloat(stake) * profitMargin).toFixed(2);
        const payout = stake + parseFloat(profit);

        $("#result").html(`
          <div>💰 Profit: <span class="text-green-600">$${profit}</span></div>
          <div class="text-sm text-gray-600">Payout: $${payout}</div>
        `);

        const bets = opp.querySelectorAll('.bet-amount');
        const totalImpliedProb = parseFloat(opp.getAttribute('data-total-implied-prob'));
        bets.forEach(function(bet) {
          const impliedProb = parseFloat(bet.getAttribute('data-implied-prob'));
          const betAmount = (stake * impliedProb / totalImpliedProb).toFixed(2);
          bet.textContent = betAmount;
        });
      });
    });
  </script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>