{% extends 'base.html' %}

{% block content %}
<div class="card bg-base-100 shadow-sm border-1 border-gray-300">
  <!-- <div class="sm:flex justify-between p-2 bg-gray-200">
    <div class="button-group mb-1">
      <input type="text" placeholder="Search" class="input input-bordered sm:w-24 md:w-full" />
    </div>
    <div class="button-group md:mb-1">
      <button class="btn text-2xl"><ion-icon name="calculator-outline"></ion-icon></button>
      <button class="btn text-2xl"><ion-icon name="swap-horizontal-outline"></ion-icon></button>
      <button class="btn text-2xl"><ion-icon name="bar-chart-outline"></ion-icon></button>
    </div>
  </div> -->
  <div class="card-body p-0">
    <!-- show if user not on basic/premium subscription -->
    {% if not has_active_subscription %}
    <div class="m-4 rounded-md text-gray-600 bg-blue-200">
      <div class="container flex items-center justify-between px-6 py-4 mx-auto">
        <div class="block w-full">
          <h1 class="font-bold text-2xl">Profit from bets for any match outcome</h1>
          <hr>
          <p class="mt-3 mb-1">We just found <span class="text-black font-bold">8,319,927</span> profitable surebets for your filter settings.</p>
          <p class="mb-1">Of these, <span class="text-black font-bold">3,283,009</span> surebets will provide a profit of more than 1%.</p>
          <p>To see surebets with a profit of more than 1% and negative surebets, please choose a plan.</p>
          <a href="{{ url_for('main.plans_overview') }}" class="btn btn-lg">Plans and Registration</a>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- content here -->
     {% block datatable %}
      {% include 'partials/datatable.html' %}
     {% endblock datatable %}
  </div>
</div>
{% endblock content %}